<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huatuo.customer.dao.XtHealthStatusMapper">
	<resultMap id="BaseResultMap" type="com.huatuo.customer.domain.XtHealthStatus">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="sort_id" property="sortId" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="preset_min" property="presetMin" jdbcType="DOUBLE" />
		<result column="preset_max" property="presetMax" jdbcType="DOUBLE" />
		<result column="bp_preset_min" property="bpPresetMin" jdbcType="DOUBLE" />
		<result column="bp_preset_max" property="bpPresetMax" jdbcType="DOUBLE" />
		<result column="health_status" property="healthStatus"
			jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.huatuo.customer.domain.XtHealthStatus"
		extends="BaseResultMap">
		<result column="prompt" property="prompt" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Blob_Column_List">
		prompt
	</sql>
	<insert id="insert" parameterType="com.huatuo.customer.domain.XtHealthStatus">
		insert into xt_health_status (id, sort_id, type,
		preset_min, preset_max, bp_preset_min,
		bp_preset_max, health_status, prompt
		)
		values (#{id,jdbcType=VARCHAR}, #{sortId,jdbcType=INTEGER},
		#{type,jdbcType=INTEGER},
		#{presetMin,jdbcType=DOUBLE}, #{presetMax,jdbcType=DOUBLE}, #{bpPresetMin,jdbcType=DOUBLE},
		#{bpPresetMax,jdbcType=DOUBLE}, #{healthStatus,jdbcType=VARCHAR},
		#{prompt,jdbcType=LONGVARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.huatuo.customer.domain.XtHealthStatus">
		insert into xt_health_status
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="sortId != null">
				sort_id,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="presetMin != null">
				preset_min,
			</if>
			<if test="presetMax != null">
				preset_max,
			</if>
			<if test="bpPresetMin != null">
				bp_preset_min,
			</if>
			<if test="bpPresetMax != null">
				bp_preset_max,
			</if>
			<if test="healthStatus != null">
				health_status,
			</if>
			<if test="prompt != null">
				prompt,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="sortId != null">
				#{sortId,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="presetMin != null">
				#{presetMin,jdbcType=DOUBLE},
			</if>
			<if test="presetMax != null">
				#{presetMax,jdbcType=DOUBLE},
			</if>
			<if test="bpPresetMin != null">
				#{bpPresetMin,jdbcType=DOUBLE},
			</if>
			<if test="bpPresetMax != null">
				#{bpPresetMax,jdbcType=DOUBLE},
			</if>
			<if test="healthStatus != null">
				#{healthStatus,jdbcType=VARCHAR},
			</if>
			<if test="prompt != null">
				#{prompt,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>

	<!-- 根据HealthStatusQuery查询 HealthStatus-->
	<select id="getHealthStatus" parameterType="com.huatuo.customer.query.HealthStatusQuery" resultMap="BaseResultMap">
		select * from xt_health_status hs
			where hs.type = #{type}
			<if test="empty == 0">
				and #{value} between hs.preset_min and hs.preset_max
			</if>
			<if test="empty == 1 and type == 4">
				and #{value} between hs.bp_preset_min and hs.bp_preset_max
			</if>
			<if test="empty == 0 and type == 1">
				and #{bpValue} between hs.bp_preset_min and hs.bp_preset_max
			</if>
	</select>
</mapper>